<head>
    <link rel="stylesheet" href="../css/adminNavBar.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>

<aside>

    <div id="navBarAside">

        <div id="titlePannel">
            <h3>Pannel admin</h3>
        </div>

        <a href="http://localhost:5000/admin-complique/" style="text-decoration: none;">
            <div class="nav-div" id="dashboard">
                <span class="nav-icon"><i class="fa-solid fa-house"></i></span>
                <span class="nav-text">Dashboard</span>
            </div>
        </a>

        <a href="http://localhost:5000/admin-complique/catalogue" style="text-decoration: none;">
            <div class="nav-div" id="catalogue">
                <span class="nav-icon"><i class="fa-solid fa-box"></i></span>
                <span class="nav-text">Catalogue</span>
            </div>
        </a>

        <a href="http://localhost:5000/admin-complique/orders" style="text-decoration: none;">
            <div class="nav-div" id="orders">
                <span class="nav-icon"><i class="fa-solid fa-cart-shopping"></i></span>
                <span class="nav-text">Commande</span>
            </div>
        </a>

        <a href="http://localhost:5000/admin-complique/settings" style="text-decoration: none;">
            <div class="nav-div" id="settings">
                <span class="nav-icon"><i class="fa-solid fa-gear"></i></span>
                <span class="nav-text">Paramètre</span>
            </div>
        </a>

    </div>

</aside>